# Solana RPC endpoint
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com

# Holanc program IDs (defaults match Anchor.toml)
NEXT_PUBLIC_POOL_PROGRAM_ID=6fhYW9wEHD3yCdvfyBCg3jxVB7sWVmqNgQyvMwSFi1GT
NEXT_PUBLIC_VERIFIER_PROGRAM_ID=GmkUhTQ5LKxRFfwEhJTGYpsBE8Y7mMBpfqwe7mX71Gpi
NEXT_PUBLIC_NULLIFIER_PROGRAM_ID=BbcPjKizadFZb55MSFcg1q2MxAbnSbnvKvorTXutK3Si
NEXT_PUBLIC_BRIDGE_PROGRAM_ID=H14juazDyYfTD4PT2oiBoLoHPKcWy4v6jggyNXJNG91K
NEXT_PUBLIC_COMPLIANCE_PROGRAM_ID=8QKUprH8TMiffMga7tVJZ6qtvwZogmz9SibDswCWKnHE

# Relayer URL (optional — for submitting transactions via relayer)
NEXT_PUBLIC_RELAYER_URL=http://localhost:4000
